@use '../../scss/variables/colors';
@use '../../scss/common';

.rcw-menus {
  z-index: 10000 !important;

  .MuiMenuItem-root {
    img {
      height: 1em;
      width: 1em;
      margin-right: .5em;
    }
  }
}
