@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@mixin message-bubble($color) {
  background-color: $color;
  border-radius: 10px;
  max-width: 215px;
  padding: 15px;
  text-align: left;
}

// Full screen mixins

@mixin widget-container-fs {
  height: 100vh;
  margin: 0;
  max-width: none;
  width: 100%;
}

@mixin header-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin title-fs {
  padding: 0 0 15px 0;
}

@mixin header-button-fs {
  display: flex;
  position: absolute;
  right: 5px;
  top: 10px;
}

@mixin menu-button-fs {
  background-color: var(--primary-color);
  border: 0;
  padding: 0;
  display: block;
  width: 30px;
  cursor: pointer;
}

@mixin close-button-fs {
  background-color: var(--primary-color);
  border: 0;
  padding: 0;
  display: block;
  width: 30px;
  cursor: pointer;
}

@mixin close-fs {
  width: 20px;
  height: 20px;
}

@mixin messages-container-fs {
  height: 100%;
  max-height: none;
}

@mixin conversation-container-fs {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  width: 100% !important;
}

@mixin launcher-fs {
  bottom: 0;
  margin: 20px;
  position: fixed;
  right: 0;
}
